body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
header{
    width: 100%;
}
.jazzCab{
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;  
}